#outputContainer,
#outputContainer2,
#outputContainer3,
#outputContainer4 {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    /* or any value according to your need */
    margin: auto;
    /* Center the container */
}

.chatbotOutput {
    flex: 1;
    /* Make both chatbot windows take equal width */
    max-width: calc(50% - 1px);
    /* Subtract the margin */
    position: relative;
    border: 1px solid black;
    background-color: #dee1e5;
    /* Background color for the header */
    margin: 1px auto;
    width: 100%;
    /* Adjust as needed */
    padding: 2px;
    box-sizing: border-box;
    border-radius: 5px;
    /* Optional for rounded corners */
}

.chatbotHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #dee1e5;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 50px;
    /* Adjusted the minimum height */
}

.chatbotHeader span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    /* Adjusted the max-width */
    display: inline-block;
    flex-shrink: 0;
    /* Added to prevent shrinking */
}

/* Adjust font size on smaller screens */
@media (max-width: 600px) {
    .chatbotHeader span {
        font-size: 10px;
        /* Adjusted the font size */
        max-width: 50%;
        /* Adjusted the max-width */
    }
}

.chatbotHeader img {
    height: 30px;
    width: auto;
    margin-right: 10px;
    flex-shrink: 0;
    /* Added to prevent shrinking */
}




.userMessage {
    background-color: #5e96fc;
    color: white;
    max-width: 80%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-self: flex-end;
    /* Adjust the alignment of the userMessage */
}

.assistantMessage {
    background-color: #f4f4f4;
    color: black;
    max-width: 80%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-self: flex-start;
    /* Adjust the alignment of the assistantMessage */
}

.output {
    text-align: justify;
    text-justify: inter-word;
}

.output-container {
    background-color: white;
    height: 500px;
    overflow-y: auto;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Align items to the right */
}


#controlsContainer,
#controlsContainer2,
#controlsContainer3,
#controlsContainer4 {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: rgb(242, 136, 50);
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 2px;
}

#exampleSelector option,
#exampleSelector2 option,
#exampleSelector3 option,
#exampleSelector4 option {
    color: black;
}

#exampleSelectorContainer label,
#exampleSelectorContainer2 label,
#exampleSelectorContainer3 label,
#exampleSelectorContainer4 label {
    margin: 3px;
    color: white;
}

.footer {
    position: relative;
    margin-top: 25px;
    /* Negative value of footer height */
    height: 60px;
    clear: both;
    padding-top: 20px;
    color: #999;
}

#tooltip {
    position: absolute;
    display: none;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 5px;
    pointer-events: none;
    z-index: 10;
}

#domain-selection .categories {
    display: none;
    /* Initially hide all categories */
    /* margin-left: 20px; */
    /* Indent categories for visual hierarchy */
}

#domain-selection .categories[data-visible="true"] {
    display: block;
    font-size: calc(150vw / 100);
    /* Show categories when visible */
}

.domain h4 {
    /* cursor: pointer; */
    font-size: calc(130vw / 100);
    text-align: center;
    margin-top: calc(200vw / 100);
    margin-bottom: calc(50vw / 100);
    /* Indicates the domain titles are clickable */
}

.domain button {
    margin: calc(20vw / 100);
    padding: calc(20vw / 100) calc(60vw / 100);
    text-align: center;
    vertical-align: center;
    font-size: calc(70vw / 100);
    height: calc(160vw / 100);
    background-size: 200% auto;
    color: white;
    border-radius: calc(60vw / 100);
    display: inline;
    border: 0px;
    font-weight: 300;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-color: darkgray;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.domain button.selected {
    margin: calc(20vw / 100);
    padding: calc(20vw / 100) calc(60vw / 100);
    text-align: center;
    font-size: calc(70vw / 100);
    height: calc(160vw / 100);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: calc(60vw / 100);
    display: inline;
    border: 0px;
    font-weight: 300;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.domain button.selected[data-domain="hate-speech"] {
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #d73d25 0%, #ef7360 51%, #d73d25 100%);
}

.domain button.selected[data-domain="inappropriate-topics"] {
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #a50ad8 0%, #db78f6 51%, #a50ad8 100%);
}

.domain button.selected[data-domain="unqualified-advice"] {
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #529900 0%, #8ada2d 51%, #529900 100%);
}

.domain button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.domain button:active {
    transform: scale(0.95);
}

.conversations {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.conversation {
    width: 45%;
    padding: 5px 15px;
    background-color: #d73d252a;
    border-radius: 30px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(45, 45, 45);
    transition: transform 0.5s ease;
}

.conversation:hover {
    transform: scale(1.03);
}

.chat-bubble {
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    line-height: 1.5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.user {
    color: #333;
    background-color: #f0dfaa;
    font-size: 16px;

    @media (max-width: 1000px) {
        font-size: 12px;
    }

    align-self: flex-start;
    border: 2px solid rgb(45, 45, 45);
}

.llm {
    background-color: #E9ECEF;
    align-self: flex-end;
    font-size: 13px;

    @media (max-width: 1000px) {
        font-size: 8px;
    }

    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
    transition: transform 0.5s ease;
}

.llm:hover {
    transform: scale(1.03);
}

.conversation h4 {
    color: #333;
    text-align: center;
    font-size: 25px;

    @media (max-width: 1000px) {
        font-size: 17px;
    }
}