.name-bold {
    /* font-family: "Nanum Gothic Coding", monospace; */
    font-weight: 700;
    font-size: 1.0em;
    font-style: normal;
    /* color: rgb(0, 0, 0); */
}

.name-context {
    /* font-family: "Nanum Gothic Coding", monospace; */
    font-weight: 700;
    font-size: 1.0em;
    font-style: normal;
    /* color: rgb(0, 0, 0); */
}


.demo-link1 {
    /* color: #a949fd; */
    font-weight: bold; /* Bold text */
}

.demo-link2 {
    /* color: #a949fd; */
    font-weight: bold; /* Bold text */
}

.demo-link3 {
    /* color: #a949fd; */
    font-weight: bold; /* Bold text */
}

.demo-link4 {
    /* color: #a949fd;  */
    font-weight: bold; /* Bold text */
}

.demo-link5 {
    /* color: #a949fd; */
    font-weight: bold; /* Bol */
}
.demo-container {
    display: block;
    text-align: justify;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
/* .demo-container img {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
} */
.demo-container p {
    color: gray;
    text-align: justify; /* 文本左对齐 */
}


.bibtex-code {  
    font-family: 'Ubuntu Mono', monospace;   
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 1em;
    width: 100%;
    z-index: 10;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #8B4513; /* Dark wood border color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #D2B48C; /* Fallback color */
    color: white;
    background-image: url('https://www.transparenttextures.com/patterns/wood.png'); /* Wood texture */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-container button:hover {
    background-color: #A0522D; /* Darker wood color for hover */
    background-image: url('https://www.transparenttextures.com/patterns/wood.png'); /* Wood texture */
    transform: translateY(-2px);
}

.button-container button:active {
    background-color: #8B4513; /* Even darker wood color for active */
    background-image: url('https://www.transparenttextures.com/patterns/wood.png'); /* Wood texture */
    transform: translateY(0);
}

#benchmark {
    margin-top: 0; /* Remove top margin */
    padding-top: 0; /* Remove top padding */
}

#leaderboard {
    margin-top: 0; /* Remove top margin */
    padding-top: 0; /* Remove top padding */
}